# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
# Ignore Jupyter checkpoints
.ipynb_checkpoints/
# Ignore virtual environment packages
env/
# Ignore environment files
.env
# Ignore OS files
.DS_Store